.wrapper {
  display: flex;
  width: 100%;
  padding: 0 1.25rem;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: min(100%, 1200px);
  justify-content: center;
  gap: 0.25rem;
  padding: 1.25rem 0;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--border);
  border-radius: 0.25rem;
  line-height: 0.625;
  padding: 0.5rem;
}

.currentPage {
  background-color: var(--border);
  color: #fff;
}
