html {
  --main-text: #404041;
  --strong-text: #5f6368;
  --blue: #0073ff;
  --blue-hover: #0062dd;
  --red: #f04952;
  --border: #585858;
}

body {
  color: var(--main-text);
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.spin-animation {
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
