.searchContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  grid-column: 2 / 4;
  grid-row: 1;
}

.searchBarWrapper {
  width: min(100%, 600px);
  position: relative;
  overflow: hidden;
  border: 1px solid var(--border);
  border-radius: 0.5rem;
}

.searchBar {
  width: 100%;
  background-color: transparent;
  border: 0;
  border-radius: 0.5rem;
  outline: 0;
  padding: 1rem 4rem 1rem 1rem;
}

.searchIconWrapper {
  height: 100%;
  border: none;
  background-color: #f8f8f8;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 1rem;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.searchIconWrapper:hover {
  background-color: #e8e8e8;
}

@media screen and (max-width: 768px) {
  .searchContainer {
    flex-direction: column;
    grid-column: 1 / 5;
    grid-row: 2;
  }
}
