.header {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.25rem;
}

.headerContainer {
  display: grid;
  width: min(100%, 1200px);
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2rem;
  grid-column: 1;
  grid-row: 1;
  margin-right: 2rem;
}

.profile {
  display: flex;
  gap: 1.125rem;
  align-items: center;
  justify-content: end;
  grid-column: 4 / 5;
  grid-row: 1;
}

.profileButtonsWrapper {
  display: flex;
  gap: 0.5rem;
}

.profileButton {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 2rem;
  outline: none;
  background-color: #f8f8f8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 0.3rem;
}

.notificationButton {
  position: relative;
  border: 0;
  outline: 0;
  background-color: transparent;
  cursor: pointer;
}

.notificationCount {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-size: 0.75rem;
  transform: translate(-50%, -50%);
  position: absolute;
  background-color: #ff4f4f;
  border-radius: 50%;
  top: 100%;
  left: 75%;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .headerContainer {
    grid-template-columns: auto repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .logo {
    grid-row: 1;
    margin: 0;
  }

  .profileButton {
    position: static;
  }

  .profile {
    grid-column: 2 / 5;
    grid-row: 1;
  }
}
